<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Error {{.StatusCode}}</title>
<link rel="stylesheet" href="/static/style.css">
<link rel="icon" href="/static/favicon.png" type="image/x-icon">
</head>
<body>
    <!-- Moving Background -->
    <div class="blob-outer-container">
        <div class="blob-inner-container">
            <div class="blob"></div>
        </div>
    </div>

    <h1>Oops! Error {{.StatusCode}}</h1>
    
    <div class="error-container">
        <p>{{.Message}}</p>
        <p>Don’t worry, it happens to the best of us. Let's get you back on track.</p>
        <div class="error-button-back">
            <a href="/" class="button">Return to Home</a>
        </div>
    </div>

</body>
</html>
